[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/jmutton2/nvim.git
[submodule "personal/personal"]
	path = personal/personal
	url = https://github.com/jmutton2/personal.git
[submodule "vaults"]
	path = vaults/vaults
	url = https://github.com/jmutton2/vaults.git
