[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:jmutton2/nvim.git
[submodule "personal/personal"]
	path = personal/personal
	url = git@github.com:jmutton2/personal.git
[submodule "vaults/vaults"]
	path = vaults/vaults
	url = git@github.com:jmutton2/nvim.git
